// Custom styles.
.site-author-image {
    display: block;
    margin: 0 auto;
    padding: 2px;
    max-width: 56px;
    height: auto;
    border: 0px solid #333;
    opacity: 0.9;
}

.sidebar-inner {
    position: relative;
    padding: 40px 20px 10px;
}


.page-post-detail .sidebar-toggle-line {
    background: #44D62C;
}

.sidebar-nav .sidebar-nav-active {
    color: #44D62C;
    border-bottom-color: #44D62C;
}

.post-toc .nav .active-current > a {
    color: #44D62C;
}

.post-toc .nav .active > a {
    color: #44D62C;
    border-bottom-color: #44D62C;
}

.post-toc .nav .active-current > a:hover {
    color: #44D62C;
}

.sidebar-nav .sidebar-nav-active:hover {
    color: #44D62C;
}

.use-motion .motion-element {
    padding-top: 10px;
}

.headband {
    height: 0px;
    background: #222;
}

.fa-bookmark:before {
    color: #44D62C;
}

#reward-button {
    color: #44D62C;
    background: #555555;
}

body {
    font-size: 16px;
    font-weight: normal;
}

a, span.exturl {
    border-bottom: 0px solid #999;
    }

.site-state-item {
    border-left: 0px solid #44d62c;
}

.sidebar{
 box-shadow: inset 0 2px 6px #ffffff;
}

#needsharebutton-float .btn {
    color:#ffffff;
    border: 0px solid #222;

}

center {

  font-size:28px;
}

.bili_video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.4%;
}

.bili_video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.shupai{
  margin-right: auto;
  writing-mode: vertical-rl;
}

